.AO-form-container {
  background-image: url("../images/splash.jpg");
  height: calc(200% - 700px);
  padding: 60px;
  background-size: 100%;
}

.AO-form {
  width: 60%;
  margin: auto;
  text-align: center;
  /* margin-top: 60px; */
  padding: 20px;
  border: 2px solid #57824a;
  border-radius: 30px;
  max-width: 600px;
}

.AO-form h1 {
  padding: 10px;
  background-color: #57824a;
  color: white;
  border-radius: 20px;
}

.AO-form label {
  background-color: #57824a;
  border-radius: 20px;
  margin-top: 20px;
}

.AO-form div {
  background-color: #57824a;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 0;
}

.AO-form input {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background: #ffffef;
  border-style: inset;
  border-color: #c7c7bc;
  border: 1px solid #ffffef; 
  width: 80%;
}

.AO-form textarea {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background: #ffffef;
  border: 1px soli #c7c7bc; 
  border-style: inset;
  border-color: #c7c7bc;
  width: 80%;
}

.AO-form .btn {
  border-style: outset;
  background-color: #e09d83;
  border-bottom: 2px solid #666666;
  transition: background-color 0.25s;
  display: block;
  margin: 10px auto;
  width: calc(80% + 23px);
  padding-top: 10px; 
  padding-bottom: 10px; 
  border-radius: 5px; 
}

.AO-form .btn:hover {
  border-bottom: 2px solid #cd7e5a;
  background-color: #dc7e5a;

}

.AO-form select {
  font-size: 14px;
  padding: 8px 5px;
  margin: 10px 0;
  width: 83%;
  border: 1px solid #ffffef; 
}

.ask-index-container {
  background-image: url("../images/splash.jpg");
  height: calc(200% + 300px);
  padding: 60px;
  background-size: 100%;
}

.ask-index-ul {
  display: flex;
  flex-wrap: wrap;  
}

.ask-index-item {
  width: 320px;
  margin: auto;
  margin-top: 20px; 
  padding: 10px;
  border-radius: 30px;
}

.ask-header {
  padding-bottom: 5px; 
  border-bottom: 1px solid #ffffef; 
}
.ask-index-item h2 {
  font-size: 30px;  
}

.ask-index-item h3 {
  padding: 5px;
  background-color: #57824a;
  color: #ffffef;
  font-size: 12px; 
  border-radius: 20px;
}

.ask-title {
  font-size: 20px; 
}

.ask-index-item p {
  font-size: 18px; 
  padding: 5px;
  background-color: #57824a;
  color: #ffffef;
  border-radius: 20px;
  font-style: bold; 
}

.sub-categories {
  display: flex; 
  justify-content: space-between; 
}

.sub-categories h3 {
  font-size: 10px; 
}

.sub-categories p {
  font-size: 15px; 
}

.ask-index-item > div {
  padding: 10px;
  background-color: #57824a;
  color: #ffffef;
  border-radius: 20px;
}

.edit-delete-container {
  display: flex; 
  justify-content: center; 
}

.index-button {
  border-radius: 5px; 
  text-align: center; 
  border-style: outset;
  border: none; 
  background-color: rgb(232, 224, 215);
  transition: background-color 0.25s;
  display: block;

  margin-right: 3px; 
  width: calc(80% + 23px);
  color: rgb(72,92,88); 
}

#index-button {
  margin-top: 5px; 
  margin-bottom: 5px; 
  padding-left: 10px;
  padding-right: 10px;  
}

.index-button:hover {
  background-color: rgb(208, 198, 170);
}

.description {
  height: 40px; 
}