.dashboard {
  color: green;
}

.dashboard a:visited{ 
  color: green;
}

.dashboard-asks a {
  color: green
}

.main-page {
  background-image: url("../images/splash.jpg");
  background-size: 100%;
  text-align: center;
  color: #ffffef;
  height: 100%;
  display: flex;
  justify-content: center;
}

.main-title {
  position: absolute;
  top: 20%;
  background-color: #57824a;
  width: 300px;
  padding: 20px;
  border-radius: 50px;
}

.main-page h1 {
  font-size: 48px;
  padding-bottom: 3px;
}



/* .main-page h1 {
  font-size: 48px;
  background-color: #57824a;
  border-radius: 50px;
  width: 300px;
  padding: 20px;
  position: absolute;
  left: calc(50% - 170px);
  top: 20%;
} */

/* .main-page p {
  background-color: #748d89;
  width: 200px;
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  left: calc(50% - 105px);
  top: calc(20% + 110px)
} */

/* #929d51 */

.main-page footer {
  position: absolute;
  width: 220px;
  bottom: 10px;
  background-color: #748d89;
  padding: 5px;
  border-radius: 20px;
}

