.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0bb66c;
  color: white;
  border-bottom: 1px solid #15a969;
}

.navbar > a {
	padding: 6px 10px 4px;
	border: 2px solid #ffffef;
	display: block;
	margin: 10px;
	border-radius: 5px;
	height: 25px;
}

.navbar-right {
  display: flex;
}

.navbar-right a {
  margin-top: 15px;
}

.navbar-right button {
	padding: 3px 10px 7px;
	border: 2px solid #ffffef;
	display: block;
	margin: 15px 10px 10px 0;
  border-radius: 5px;
  color: #ffffef;
  background-color: #0bb66c;
  font-size: 16px;
}

.navbar-right button:hover {
	background-color: #15a969;
}