.signup-login-form {
  width: 60%;
  margin: auto;
  text-align: center;
  /* margin-top: 60px; */
  padding: 20px;
  border: 2px solid #57824a;
  border-radius: 30px;
}

.signup-login-form h1 {
  padding: 10px;
  background-color: #57824a;
  color: white;
  border-radius: 20px;
}

.signup-login-form div {
  background-color: #57824a;
  border-radius: 20px;
  margin-top: 20px;
  padding: 10px 0;
}

.signup-login-form input {
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background: #ffffef;
  border-style: inset;
  border-color: #c7c7bc;
  width: 80%;
}

.signup-login-form .btn {
  border-style: outset;
  background-color: #e09d83;
  border-bottom: 2px solid #666666;
  transition: background-color 0.25s;
  display: block;
  margin: 10px auto;
  width: calc(80% + 23px)
}

.signup-login-form .btn:hover {
  border-bottom: 0;
  background-color: #dc7e5a;
}

.signup-login-form select {
  font-size: 14px;
  padding: 8px 5px;
  margin: 10px 0;
  width: 87%; 
}

.signup-login-form-container {
  background-image: url("../images/splash.jpg");
  height: 100%;
  padding: 60px;
  background-size: 100%;
}

